{% extends "base.html" %}

{% block content %}
<h3>Fick/Room Air</h3>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

<p>&nbsp;</p>
<div id="content">
<form action="/fick_room_air" method="post" >
  <table>
    <tr>
      <td align="right">Patient ID</td>
      <td align="left"><input type="text" name="pat_id" value="{{ request.form['pat_id'] }}"></td>
    </tr>
    <tr>
      <td align="right">VO2</td>
      <td align="left"><input type="number" name="vo2" value="{{ request.form['vo2'] }}"></td>
    </tr>
    <tr>
       <td align="right">Hemoglobin</td>
       <td align="left"><input type="number" step="0.1" name="hg" value="{{ request.form['hg'] }}"></td>
    </tr>
    <tr>
      <td align="right">PV(sat)</td>
      <td align="left"><input type="number" name="pv"  value="{{ request.form['pv'] }}"></td>
    </tr>
    <tr>
      <td align="right">PA(sat)</td>
      <td align="left"><input type="number" name="pa"  value="{{ request.form['pa'] }}"></td>
    </tr>
    <tr>
      <td align="right">Ao(sat)</td>
      <td align="left"><input type="number" name="ao"  value="{{ request.form['ao'] }}"></td>
    </tr>
    <tr>
      <td align="right">MV(sat)</td>
      <td align="left"><input type="number" name="mv"  value="{{ request.form['mv'] }}"></td>
    </tr>
    <tr>
      <td align="right">Transpulmonary</td>
      <td align="left"><input type="number" name="tp"  value="{{ request.form['tp'] }}"></td>
    </tr>
    <tr>
      <td align="right">Transsystemic</td>
      <td align="left"><input type="number" name="ts"  value="{{ request.form['ts'] }}"></td>
    </tr>

  </table>

      <input class="btn btn-default btn-sm" type="submit"  value="calculate">
</form> 
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
{{err_msg}}
<hr>
<div id='content'>
  {{ out_qp }}
  {{ out_qs }}
  {{ out_qpqs }}
  {{ out_pvr }}
  {{ out_svr }}
  {{ out_rprs }}

  {% if show_exp is sameas true %}
    <br>
    <button class="btn btn-default btn-sm" onclick="window.location.href = 'export_fick_room_air';">Export to CSV
    </button>
  {% else %}
     <hr>
  {% endif %}
        
</div>

</div>
{% endblock %}