{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="/static/js/zone4_static.js" charset="utf-8"></script>


    </button>
<table>
        <col width=10%>
        <col width=10%>
        <col width=10%>
        <col width=10%>
        <col width=10%>
        <col width=10%>
        <col width=10%>
        <col width=10%>
        <col width=10%>
        <col width=10%>
        <tr class="d-flex">
          <th><font color=#316181 font-size=20px>Zone 4</font></th>
          <th>Qp</th>
          <th>Qep</th>
          <th>Qs</th>
          <th>Qes</th>
          <th>Qp/Qs</th>
          <th>Qep/Qes</th>
          <th>Qep/Qs</th>
          <th>PVR</th>
          <th>SVR</th>
          <th>Rp/Rs</th>
        </tr>
        <tr class="d-flex">
          <td>Fick Room Air</td>
          <td><div class='fra_qp'>{{ fra_qp }}</div></td>
          <td><div class='fra_qep'>-</div></td>
          <td><div class='fra_qs'>{{ fra_qs }}</div></td>
          <td><div class='fra_qes'>-</div></td>
          <td><div class='fra_qpqs'>{{ fra_qpqs }}</div></td>
          <td><div class='fra_qepqes'>-</div></td>
          <td><div class='fra_qepqs'>-</div></td>
          <td><div class='fra_pvr'>{{ fra_pvr }}</div></td>
          <td><div class='fra_svr'>{{ fra_svr }}</div></td>
          <td><div class='fra_rprs'>{{ fra_rprs }}</div></td>
        </tr>
        <tr class="d-flex">
          <td>Fick Nitric Oxide</td>
          <td><div class='fno_qp'>{{ fno_qp }}</div></td>
          <td><div class='fno_qep'>-</div></td>
          <td><div class='fno_qs'>{{ fno_qs }}</div></td>
          <td><div class='fno_qes'>-</div></td>
          <td><div class='fno_qpqs'>{{ fno_qpqs }}</div></td>
          <td><div class='fno_qepqes'>-</div></td>
          <td><div class='fno_qepqs'>-</div></td>
          <td><div class='fno_pvr'>{{ fno_pvr }}</div></td>
          <td><div class='fno_svr'>{{ fno_svr }}</div></td>
          <td><div class='fno_rprs'>{{ fno_rprs }}</div></td>
        </tr>
        <tr class="d-flex">
          <td>MR Flow</td>
          <td><div class='fl_qp'>{{ fl_qp }}</div></td>
          <td><div class='fl_qep'>{{ fl_qep }}</div></td>
          <td><div class='fl_qs'>{{ fl_qs }}</div></td>
          <td><div class='fl_qes'>{{ fl_qes }}</div></td>
          <td><div class='fl_qpqs'>{{ fl_qpqs }}</div></td>
          <td><div class='fl_qepqes'>{{ fl_qepqes }}</div></td>
          <td><div class='fl_qepqs'>{{ fl_qepqs }}</div></td>
          <td><div class='fl_pvr'>{{ fl_pvr }}</div></td>
          <td><div class='fl_svr'>{{ fl_svr }}</div></td>
          <td><div class='fl_rprs'>{{ fl_rprs }}</div></td>
        </tr>
        
        </table>









{% endblock %}